* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background:#FFFFFF;
    width:100%;
}

/*--------------------APP---------------------*/

main, div {
    box-sizing: border-box;
}

.app-wrapper {
    position:relative;
    height: 100vh;
}

.view-wrapper {
    width:100%;
    min-height:calc(100% - 42px);
}

/*------------------HEADER---------------------*/

.header-shim {
    width:100%;
    height:42px;
}

.header-wrapper {
    width:100%;
    height:42px;
    background:#026AA7;
    position:fixed;
    z-index: 6;
}

/*------------------FOOTER---------------------*/

.footer-wrapper {
    width:100%;
    height:148px;
    color:#FFFFFF;
    background:#292F36;
    padding:12px 12px;
}

/*------------------LANDING---------------------*/

.landing-wrapper {
    height:100%
}

/*------------------TOURNAMENT---------------------*/

.matchModal {
    height: 50%;
    width: 50%;
    z-index: 3;
    background: lightblue;
    position: fixed;
    left:25%;
    top:25%;
}

.tournament-wrapper {
    height:100%;
    width:100%;
    margin:auto;
}

.tournament-top-section {
    width:90%;
    margin:auto;
    height:172px;
    padding:24px 24px;
    margin-bottom:24px;
}

.tournament-divider {
    width:70%;
    height: 1px;
    margin:auto;
    background:#CFCFCF;
}

.bracket-container {
    max-width:95%;
    min-height:80%;
    height:fit-content;
    margin:auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    overflow:auto;
}

.round-column {

    height: fit-content;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.line-column {

    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.match-wrapper {
    width:100%;
    height:86px;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    align-items:space-between;
}



.match-player {
    box-sizing:border-box;
    width:100%;
    height:44%;
    color:#333333;
    font-size:13px;
    background:#F7F7F7;
    border:1px solid #DEDEDE;
    border-radius:2px;
    position:relative;
}

.match-player:hover {
    background:#f2f2f2;
    color:#080808
}

.match-player-info {
    padding-top:9px;
    padding-left:6px;
    width:fit-content;
    display:inline-block;
}

.match-player-score {
    width:22px;
    height:22px;
    background:#E6ADAD;
    border-radius:4px;
    text-align:center;
    padding-top:2px;
    display:inline-block;
    position:absolute;
    right:12px;
    top:7px;
}

.match-win-lose {
    height:20px;
    width:58px;
    background:#F7F7F7;
    border-radius:5px;
    border:1px solid #777777;
    text-align:center;
    padding:0px 4px;
    display:inline-block;
    position: absolute;
    top:-10px;
    right:52px;

    /* transform:rotate(9deg); */
}

.match-data {
    width:80%;
    height:12%;
    border-radius:2px;
}

.s-elim-match-connector {
    width:100%;
    height:220px;
    display:flex;
}

.line-connector-column-left {
    width:50%;
    height:100%;
    border-right:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.line-connector-column-right {
    width:50%;
    height:100%;    
    border-left:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.line-connector-horizontal {
    width:100%;
    height: 2px;
    background:#DEDEDE;
}