 /*@font-face { font-family: "MyWebFont"; src: url('jd_led3.ttf') format('opentype'); } */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background:#FFFFFF;
    width:100%;
}

/*--------------------APP---------------------*/

main, div {
    box-sizing: border-box;
}

.app-wrapper {
    position:relative;
    height: 100vh;
}

.view-wrapper {
    width:100%;
    min-height:calc(100% - 42px);
}

/*------------------HEADER---------------------*/

.header-shim {
    width:100%;
    height:42px;
}

.header-wrapper {
    width:100%;
    height:42px;
    background:#1B1C1D;
    color:#F7F7F7;
    position:fixed;
    z-index: 6;
    padding:0 7px;
    display: flex;
    justify-content:space-between;
}


.header-logo {
    padding:3px 6px;
    height:42px;
    box-sizing:border-box;
    fill:#307fff;
    display: flex;
    position:relative;
    transition:all .2s ease-in-out;
}

.header-svg {
    display:inline-block;
    position: absolute;
    left:-56px;
    top:-66px;
}

.header-logo:hover {
    fill:#EFF4FF;
    transition:all .2s ease-in-out;
}

.header-logo p {
    margin-top:10px;
    margin-left:8px;
}

.header-right p {
    padding-top:13px;
    margin-left:16px;
    transition:all .2s ease-in-out;
}

.header-right p:hover {
    color:#4286f4;
    cursor:default;
}

.header-right {
    height:42px;
    display:flex;
    align-items:center;
    padding-right:12px;
}

.header-anchor {
    font-size:12px;
    height:32px;
    padding-top: 6px;
    padding-right:18px;
    padding-left:16px;
    color:#F7F7F7;
    border-right:1px solid #494949;
    transition:all .2s ease-in-out;
}

.header-anchor:hover {
    color:#4286f4;
    transition:all .2s ease-in-out;
    cursor:pointer;
}

.header-login {
    height:32px;
    padding: 7px 5px;
    margin-left:16px;
    background:#14AA14;
    color:#F7F7F7;
    border-radius:2px;
    transition:all .2s ease-in-out;
}

.header-login:hover {
    background:#0F930F;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
}

.header-user-wrapper {
    height: 42px;
    padding-top:5px;
    color:#D0D0D0;
    list-style:none;
    display: flex;
    padding-right:18px;
    justify-content:space-around;
    margin-left:8px;
    transition:color .2s ease-in-out;
    /* background:#FFFFFF; */
    z-index:1;
}

.header-user-wrapper a {
    text-decoration:none;
    color:inherit;
}

.header-user-wrapper:hover {
    color:#FFFFFF;
    transition:color .2s ease-in-out;
    cursor:pointer;
}

.header-user-wrapper:hover > 
.header-userdrop > 
.user-dropdown > 
.dropdown-items {
    display:block;
    top:30px;
    transition:all .3s ease-in-out;
}

.user-dropdown {
    list-style:none;
    margin-top:7px;
    position:relative;
}

.dropdown-items {
    list-style:none;
    display:none;
    position: absolute;
    left:-8px;
    transition:all .3s ease-in-out;
    z-index:-1;
}

.dropdown-items li {
    background:#1B1C1D;
    padding:4px 6px;
    width:82px;
    border-top:1px solid #494949;
}

.dropdown-items li:hover {
    background:#000000;
}

.header-user {
    height:32px;
    width:32px;
    margin-left:8px;
    border-radius:50%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid transparent;
    margin-left:8px;
    transition:all .2s ease-in-out;
}

.header-user-wrapper:hover > .header-user {
    border:2px solid #FFFFFF;
    transition:all .3s ease-in-out;
    cursor:pointer;
}


.header-user img {
    width:32px;
    height:32px;
    border-radius:50%;
    background:transparent;
    transition:all .4s ease-in-out;
}

.header-user-wrapper:hover > img {
    height:36px;
    width:36px;
    transition:all .4s ease-in-out;
}


@media screen and (max-width: 768px) {
    .header-right {
        padding-right: 12px;
    }
}

/*------------------FOOTER---------------------*/

.footer-wrapper {
    width:100%;
    height:148px;
    color:#222222;
    /* background: linear-gradient(to right, #010101 0%,#1c1c1c 50%,#010101 100%); */
    background:#FFFFFF;
    padding:12px 12px;
    border-top:1px solid #DEDEDE;
}

/*------------------LANDING---------------------*/

.landing-wrapper {
    width:100%;
    height:calc(100vh - 42px);
    background:#F1F1F1;
}

.landing-splash {
    width:100%;
    height: 320px;
    background:#2668D3;
    padding-top:24px;
    text-align:center;
    position:relative;
}


.landing-svg {
    position:relative;
    height:1px;
    width:1px;
    margin:auto;
    fill:#F7F7F7;
}

.landing-path {
    position:absolute;
    left:-86px;
    top:-8px;
}

.landing-content {
    /* max-width:1280px; */
    width:1320px;
    margin:auto;
    box-sizing:border-box;


}

.landing-search-wrapper {
    width:100%;
    height:84px;
}

.landing-search-content {
    background:#FFFFFF;
    border:1px solid #DEDEDE;
    border-radius:3px;
    width:32px;
    height:32px;
    padding:6px 7px;
    transition:all .5s ease-in-out;
    margin-top:4px;
    overflow:hidden;
}

.landing-cards-wrapper {
    width:100%;
    box-sizing:border-box;
    /* background:#0F6887; */
    padding:56px 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    /* background-image:url(http://localhost:3030/public/img/bg-gen.png); */
    background-position:center;
    background-size:100% auto;
    background-repeat:no-repeat;
    /* align-items:space-between; */
}


.tournament-card-wrapper {
    height: 96px;
    width:360px;
    /* min-width:312px; */
    padding:0 8px;
    background:rgba(21, 116, 164, 0.78);
    color:#FFFFFF;
    margin:8px 8px;
    position:relative;
    border:2px solid #FFFFFF;
    box-shadow: 3px 3px 17px -8px rgba(0,0,0,0.75);
    transition:all .2s ease-in-out;
}

.tournament-card-wrapper:nth-child(4n+1) {
    background:rgba(15, 104, 135, .78);
}

.tournament-card-wrapper:nth-child(4n+2) {
    background:rgba(31, 137, 174, .78);
}

.tournament-card-wrapper:nth-child(4n+3) {
    background:rgba(25, 122, 156, 0.78);
}

.tournament-card-wrapper:hover {
    background:rgba(41, 175, 223, 0.80);
    transition:all .2s ease-in-out;
    cursor:pointer;
}


.t-card-d1 {
    height: 100%;
    width:calc(100% - 8px);
    /* background:grey; */
    position: absolute;
    top:0;
}

.t-card-d2 {
    width:calc(100% - 4px);
    height: 100%;
    position:relative;
    display:flex;

}

.color {
    width:184px;
    padding-top:6px;
    position:relative;
}

.t-card-name {
    color:#FFFFFF;
    margin-bottom:4px;
}

.t-card-type {
    color:#A1EAFF;
    font-size:.8em;
    margin-left:8px;
}

.t-card-desc
 {
     color:#FFFFFF;
     font-size:.8em;
 }
.white {
    width:calc(100% - 200px);
    height: 84px;
    margin-top:4px;
    background:rgba(255, 255, 255, 0.16);
    border:1px solid rgba(255, 255, 255, 0.28);
    text-align:center;
    color:#FAFAFA;
    overflow:hidden;
    padding-top:10px;
    border-radius:2px;
}

.white img {
    height: 64px;
    width:64px;
}

.white h1 {
    font-size:3.2em;
}

@media screen and (max-width: 524px) {


}

@media screen and (max-width:767px) {
    .landing-cards-wrapper {
        padding:56px 0px;
    }

    .tournament-card-wrapper {
        margin:4px 0px;
    }


}

@media (max-width:1280px) {
    .landing-content {
        width:100%
    }

    .tournament-card-wrapper {
        min-width:none;
        /* width:49% */
    }

}


/*------------------USER SETTINGS---------------------*/

.settings-wrapper {
    width:100%;
    height:calc(100vh - 190px);
    background:#F7F7F7;
}

.settings-content {
    width:1200px;
    height: 100%;
    padding:24px 12px;
    margin:auto;
    background:#F7F7F7;
    text-align:center;
}

.settings-content h1 {
    font-size:2.4em;
}

.settings-pic-span {
    width:100%;
    height:120px;
    display:flex;
    justify-content:center;
}

.settings-pic {
    height:124px;
    width:124px;
    border-radius:50%;
    background:#333F6F;
    padding:2px 2px;
}

.settings-pic img {
    width:120px;
    height: 120px;
    border-radius:50%;
}

.settings-form {
    width:100%;
    padding:32px 12px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}

.settings-form p {
    font-size:1.2em;
    margin-bottom:6px;
}

.settings-form input {
    width:42%;
    height:32px;
    padding:0 12px;
    background:#ffffff;
    border:1px solid #262626;
    border-radius:2px;
    margin-bottom:24px;
    text-align:center;
}

.settings-form button {
    width:142px;
    height:36px;
    margin-top:8px;
    background:#262626;
    border-radius:2px;
    color:#F1F1F1;
    transition:all .2s ease-in-out;
}

.settings-form button:hover {
    background:#000000;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    cursor:pointer;
}

@media screen and (max-width: 1280px) {
    .settings-content {
        width:85%;
    }
}

@media screen and (max-width: 768px) {
    .settings-content {
        width:100%
    }
}

/*-------------------MATCH MODAL-----------------------*/

.matchModal {
    height: 50%;
    width: 50%;
    z-index: 3;
    background: lightblue;
    position: fixed;
    left:25%;
    top:25%;
    box-shadow: 10px 7px 22px 3px rgba(0,0,0,0.75);
    border: 1px solid #666;
    transition:all .2s ease-in-out;
}

.match-modal-upper-half {
    width: 100%;
    height: 28%;
    background: #eee;
    position: relative;
}

.match-modal-close-out {
    width: 70px;
    height: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.match-modal-close-out-iconX {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #c41d00;
}
.match-modal-close-out-icon-minus {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #f5ba25;
}
.match-modal-close-out-icon-plus {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #138f00;
}

.match-modal-close-out-iconX:hover, .match-modal-close-out-icon-minus:hover, .match-modal-close-out-icon-plus:hover {
    opacity: .5;
}

.scoreboard {
    position: absolute;
    left: 17.5%;
    top: 5%;
    width: 65%;
    height: 90%;
    border: 5px solid #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    background: #999;
}

.scoreboard-player1 {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 90%;
    width: 25%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 5px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ba25;
    font-size: 90px;
}

.scoreboard-clock {
    position: absolute;
    width: 26%;
    height: 60%;
    top: 8%;
    left: 37%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 3px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c41d00;
    font-size: 42px;
}

.scoreboard-player2 {
    position: absolute;
    top: 5%;
    right: 1%;
    height: 90%;
    width: 25%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 5px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ba25;
    font-size: 90px;
}

.match-modal-lower-half {
    width: 100%;
    height: 72%;
    background: #ddd;
    position: relative;
}

.match-modal-background {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 70%;
    left: 15%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
}

.match-modal-player1 {
    position: absolute;
    width: 19%;
    height: 25%;
    left: 3%;
    top: 37.5%;
    background: #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    border: 3px solid #aaa;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.match-modal-player2 {
    position: absolute;
    width: 19%;
    height: 25%;
    right: 3%;
    top: 37.5%;
    background: #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    border: 3px solid #aaa;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media screen and (max-width: 1280px) {
    .scoreboard-clock {
        font-size: 32px;
    }

    .matchModal {
        width:70%;
        left:15%;
    }
}

/*-----------------Admin Controls------------------*/

.admin-controls-main {
    height: 100%;
    width: 65%;
    position: absolute;
    left: 17.5%;
    top: 0px;
    /*background: lightblue;
    opacity: .5;*/
}

.score-buttons {
    height: 17.8%;
    width: 8.5%;
    position: absolute;
    top: 5%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 2px solid #eee;
}

.score-buttons-plus {
    height: 50%;
    width: 100%;
    color: #138f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 1px solid #eee;
}

.score-buttons-minus {
    height: 50%;
    width: 100%;
    color: #c41d00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    border-top: 1px solid #eee;
}

.admin-controls-start-match {
    height: 10%;
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: 30%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 2px solid #eee;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {

}

/*------------------TOURNAMENT---------------------*/

.tournament-wrapper {
    height:100%;
    width:100%;
    overflow:auto;
    box-sizing:border-box;
}

.tournament-top-section {
    width:90%;
    margin:auto;
    height:172px;
    padding:24px 24px;
    margin-bottom:24px;
}

.tournament-divider {
    width:70%;
    height: 1px;
    margin:auto;
    background:#CFCFCF;
}

.bracket-svg {
    height:1px;
    width:1px;
    position:relative;
}

.bracket-path {
    position: absolute;
    left:264px;
}

.bracket-container {
    max-width:1400px;
    min-width:1100px;
    min-height:80%;
    height:fit-content;
    margin:auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:0 12px;
    overflow:auto;
}

.round-column {
    height: fit-content;
    min-width:142px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.line-column {
    height:100%;
    min-width:16px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.match-wrapper {
    width:100%;
    height:86px;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    align-items:space-between;
    position:relative;
}



.match-player {
    box-sizing:border-box;
    width:100%;
    height:44%;
    color:#333333;
    font-size:13px;
    background:#F7F7F7;
    border:1px solid #DEDEDE;
    border-radius:2px;
    position:relative;
}

.match-player:hover {
    background:#f2f2f2;
    color:#080808
}

.match-player-info {
    padding-top:7px;
    padding-left:6px;
    width:fit-content;
    display:inline-block;
}

.match-player-score {
    width:22px;
    height:22px;
    background:#E6ADAD;
    border-radius:4px;
    text-align:center;
    padding-top:2px;
    display:inline-block;
    position:absolute;
    right:12px;
    top:5px;
}

.match-win-lose {
    height:20px;
    width:58px;
    /* background:#06C440; */
    border-radius:5px;
    /* border:1px solid #777777; */
    text-align:center;
    padding:0px 4px;
    display:inline-block;
    position: absolute;
    top:6px;
    right:52px;
    /* transform:rotate(-7deg); */
}

.match-data {
    width:80%;
    height:12%;
    border-radius:2px;
    font-size:xx-small;
    margin-bottom:8px;
}

.s-elim-match-connector {
    width:100%;
    height:220px;
    display:flex;
}

.line-connector-column-left {
    width:50%;
    height:100%;
    border-right:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.line-connector-column-right {
    width:50%;
    height:100%;
    border-left:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.line-connector-horizontal {
    width:100%;
    height: 2px;
    background:#DEDEDE;
}

/*---------CreateTournament-----------*/
/*  ct === create-tournament */

.ct-main {
    width: 100%;
    height: 1619px;
    min-height: 100vh;
    /*height: fit-content;*/
    background: #eee;
    position: relative;
    /*margin-bottom: 20px;*/
}

.ct-edit-match-names {
    width: 500px;
    height: 200px;
    position: fixed;
    background: white;
    left: calc(50% - 250px);
    top: calc(50% - 100px);
    border: 1px solid grey;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    /*z-index: 3;*/
}

.ct-header {
    width: 100%;
    height: 270px;
    background: #2A67A4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct-header h1 {
    text-shadow: 1px 1px white;
}

.ct-tournament-info {
    /*height: fit-content;*/
    height: 1220px;
    width: 50%;
    left: 25%;
    position: absolute;
    background: #222;
}

.ct-matches {
    height: 1000px;
    width: 90%;
    position: absolute;
    left: 5%;
    background: #eee;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.ct-matches input {
    background-color: white;
    width: 175px;
    border: 1px solid grey;
    padding: 5px;
}

.ct-matches-list {
    height: 78%;
    width: 90%;
    position: absolute;
    left: 5%;
    background: #eee;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.ct-matches-header {
    width: 80%;
    height: 100px;
    /*border: 1px solid lightgrey;*/
}

.ct-match {
    width: 90%;
    height: 50px;
    background: #FFF;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    border: 1px solid #aaa;
    position: relative;
    display: table;
}

.ct-match h1 {
    margin-top: 10px;
}

.ct-match-matchNumber {
    width: 70px;
    height: 10px;
    display: inline-block;
    color: #069;
}

.ct-match-player1 {
    color: black;
    font-size: 24px;
    width: 40%;
    margin-right: 10px;
    /*height: 35%;*/
    /*position: absolute;
    left: 0px;
    top: 10px;*/
    display: inline-block;
}

.ct-match-player2 {
    color: black;
    font-size: 24px;
    width: 40%;
    margin-left: 10px;
    /*height: 35%;*/
    /*position: absolute;
    right: 0px;
    top: 10px;*/
    display: inline-block;
}

.ct-player-info {
    width: 50%;
    left: 25%;
    position: absolute;
    height: fit-content;
    background: pink;
}

/*#contact { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }*/

#contact {
    /*background: blue;*/
	background:#222;
	padding:25px;
	margin:0px 0;
    text-align: center;
    height: 1350px;
}

#contact h3 {
	color: #0CF;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

/*fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}*/

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button {
    border: 1px solid lightgrey;
    width: 30px;
    height: 20px;
}

#contact button:hover {
    background: black;
}

.ct-submit {
	cursor:pointer;
	width:40%;
    left: 30%;
	border:none;
	background: #09c;
	color: white;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    position: absolute;
    bottom: -70px;
}

.ct-submit:hover {
	background:#069;
	transition:background-color 0.1s ease-in-out;
    /*padding: 15px;*/
}

#contact select {
    background: white;
    border: 1px solid lightgrey;
    /*padding: 15px;*/
    margin-bottom: 10px;
}

/*---------Profile-----------*/
.profile-container {
  width: 100%;
  height: calc(100VH - 42PX);
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.profile-display {
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  padding: 10px;
  
}

.profile-display img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.profile-display h1 {
  font-size: 48px;
}

.profile-info {
  text-align: center;
  width: 70%;
  margin-left: 25%;
  margin-bottom: 50px;
}

.profile-info h1 {
  font-size: 48px;
}

.profile-stats {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.profile-stat-display h1 {
  font-size: 72px;
}

/*.profile-display svg {
  margin-left: 45px;
}*/
