 /*@font-face { font-family: "MyWebFont"; src: url('jd_led3.ttf') format('opentype'); } */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background:#FFFFFF;
    width:100%;
}

/*--------------------APP---------------------*/

main, div {
    box-sizing: border-box;
}

.app-wrapper {
    position:relative;
    height: 100vh;
}

.view-wrapper {
    width:100%;
    min-height:calc(100% - 42px);
}

/*------------------HEADER---------------------*/

.header-shim {
    width:100%;
    height:42px;
}

.header-wrapper {
    width:100%;
    height:42px;
    background:#026AA7;
    position:fixed;
    z-index: 6;
}

/*------------------FOOTER---------------------*/

.footer-wrapper {
    width:100%;
    height:148px;
    color:#FFFFFF;
    background:#292F36;
    padding:12px 12px;
}

/*------------------LANDING---------------------*/

.landing-wrapper {
    height:100%
}

/*-------------------MATCH MODAL-----------------------*/

.matchModal {
    height: 50%;
    width: 50%;
    z-index: 3;
    background: lightblue;
    position: fixed;
    left:25%;
    top:25%;
    box-shadow: 10px 7px 22px 3px rgba(0,0,0,0.75);
    border: 1px solid #666;
}

.match-modal-upper-half {
    width: 100%;
    height: 28%;
    background: #eee;
    position: relative;
}

.match-modal-close-out {
    width: 70px;
    height: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.match-modal-close-out-iconX {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #c41d00;
}
.match-modal-close-out-icon-minus {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #f5ba25;
}
.match-modal-close-out-icon-plus {
    height: 100%;
    width: 33.33%;
    opacity: .9;
    text-align: center;
    background: #138f00;
}

.match-modal-close-out-iconX:hover, .match-modal-close-out-icon-minus:hover, .match-modal-close-out-icon-plus:hover {
    opacity: .5;
}

.scoreboard {
    position: absolute;
    left: 17.5%;
    top: 5%;
    width: 65%;
    height: 90%;
    border: 5px solid #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    background: #999;
}

.scoreboard-player1 {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 90%;
    width: 25%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 5px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ba25;
    font-size: 90px;
}

.scoreboard-clock {
    position: absolute;
    width: 26%;
    height: 60%;
    top: 8%;
    left: 37%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 3px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c41d00;
    font-size: 50px;
}

.scoreboard-player2 {
    position: absolute;
    top: 5%;
    right: 1%;
    height: 90%;
    width: 25%;
    background: #222;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    border: 5px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ba25;
    font-size: 90px;    
}

.match-modal-lower-half {
    width: 100%;
    height: 72%;
    background: #ddd;
    position: relative;
}

.match-modal-background {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 70%;
    left: 15%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
}

.match-modal-player1 {
    position: absolute;
    width: 19%;
    height: 25%;
    left: 3%;
    top: 37.5%;
    background: #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    border: 3px solid #aaa;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.match-modal-player2 {
    position: absolute;
    width: 19%;
    height: 25%;
    right: 3%;
    top: 37.5%;
    background: #333;
    box-shadow: 4px 4px 22px 3px rgba(0,0,0,0.75);
    border: 3px solid #aaa;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/*------------------TOURNAMENT---------------------*/

.tournament-wrapper {
    height:100%;
    width:100%;
    margin:auto;
}

.tournament-top-section {
    width:90%;
    margin:auto;
    height:172px;
    padding:24px 24px;
    margin-bottom:24px;
}

.tournament-divider {
    width:70%;
    height: 1px;
    margin:auto;
    background:#CFCFCF;
}

.bracket-container {
    max-width:95%;
    min-height:80%;
    height:fit-content;
    margin:auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    overflow:auto;
}

.round-column {

    height: fit-content;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.line-column {

    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.match-wrapper {
    width:100%;
    height:86px;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    align-items:space-between;
}



.match-player {
    box-sizing:border-box;
    width:100%;
    height:44%;
    color:#333333;
    font-size:13px;
    background:#F7F7F7;
    border:1px solid #DEDEDE;
    border-radius:2px;
    position:relative;
}

.match-player:hover {
    background:#f2f2f2;
    color:#080808
}

.match-player-info {
    padding-top:9px;
    padding-left:6px;
    width:fit-content;
    display:inline-block;
}

.match-player-score {
    width:22px;
    height:22px;
    background:#E6ADAD;
    border-radius:4px;
    text-align:center;
    padding-top:2px;
    display:inline-block;
    position:absolute;
    right:12px;
    top:7px;
}

.match-win-lose {
    height:20px;
    width:58px;
    background:#F7F7F7;
    border-radius:5px;
    border:1px solid #777777;
    text-align:center;
    padding:0px 4px;
    display:inline-block;
    position: absolute;
    top:-10px;
    right:52px;

    /* transform:rotate(9deg); */
}

.match-data {
    width:80%;
    height:12%;
    border-radius:2px;
}

.s-elim-match-connector {
    width:100%;
    height:220px;
    display:flex;
}

.line-connector-column-left {
    width:50%;
    height:100%;
    border-right:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.line-connector-column-right {
    width:50%;
    height:100%;    
    border-left:1px solid #DEDEDE;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.line-connector-horizontal {
    width:100%;
    height: 2px;
    background:#DEDEDE;
}